body{
background-image:url("plat_1.png");
}

#container
{
width:350;
height:600;
position:absolute;
}

#Scene{
z-index:1;

}
#Score{
top:0;
left:100px;
position:absolute;
width:100%;

z-index:2;
}
.basicBtn
{
position:absolute;
z-index:3;
width:100px;
font-size:30px;
background-color:rgba(0,0,0,0);
color:#111;
font-family:"Bad Script";
border:solid 2px #111;

}
.basicBtn:hover
{

color:#eee;
background-color:#111;

}
#Retry{
}
#Play{


}
#CreditsBtn{

}
#Tutorial{

font-size:15px;
top:95%;
}
#NextImg{
left:80%;

font-size:15px;
}
#PrevImg{
left:20%;
font-size:15px;
}

#TutImg{
position:absolute;
z-index:3;

}
#LevelCount{
z-index:3;
font-size:30vh;
}

.centerUI{
position:absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.bottom{
position:absolute;
top: 95%;

transform: translate(-50%, -50%);
}
#Logo{
	opacity:0;
    width: 350px;
    height: 600px;
    animation-name: fade;
    animation-duration: 4s;  // This value was hard coded into JS
}

@keyframes fade {
    0%{opacity: 0;}
    50%{opacity:1;}
	100%{opacity:0;}
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


